######## ########################
##
##	project related
##	
##### #####################
build/
dist/
MANIFEST
doc/build/*
logs/*
tests
willie.wiki/*
*.db
*.pyc
*.pyo
*.txt
*~
*.rpm
*.spec
.*.sw*
.pid-*
*.sqlite

###### ################
##
##	system (linux)
##
#### ##########
*~
.svn/
*.key

###### ################
##
##	java
##	
#### ##########
*.class

###### ################
##
##	other
##
#### ##########
*.log

###### ################
##
##	system (osx)
##	thx: http://goo.gl/y4dZq
##
#### ##########
.DS_Store

###### ################
##
##	eclipse
##	thx: http://goo.gl/y4dZq
##
#### ##########
.classpath
.project
.settings/

###### ################
##
##	intellij
##	thx: http://goo.gl/y4dZq
##
### ##########
.idea/
*.iml
*.iws

###### ################
##
##	maven
##	thx: http://goo.gl/y4dZq
##
### ##########
log/
target/

###### ################
##
##	android
##
### ##########
proguard_logs/

###### ################
##
##	python
##	thx: http://goo.gl/WR3a3F
##
### ##########
__pycache__/
*.py[cod]
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
.cache
